{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="container w-75">
        <h2 class="bg-lightblue  m-auto w-50 p-4 text-center">دسته بندی</h2>
        <div class="bg-lightblue-op m-auto p-4 w-50">
            <div class="container w-75">
                <form method="post" class="text-center">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row justify-content-evenly mt-4">
                        <button class="col-3 btn btn-success ml-2" type="submit">ذخیره</button>
                        <a class="col-3 btn btn-primary text-white" href="{% url 'home' %}">
                            بازگشت
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
