{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container text-center w-50">
        <h2 class=" container bg-lightblue-op text-center w-75 p-4 rounded-top mb-0">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}
                تغییر رمز عبور
            {% endif %}
        </h2>
    </div>
    <div class="container text-center w-50">
        <div class="container w-75 text-end p-5 rounded-bottom bg-light-op">
            <p class="text-center">رمزعبورتان با موفقیت تغییر کرد.</p>
        </div>
    </div>
{% endblock %}
