{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
    <div class="container text-center w-50">
        <h2 class=" container bg-lightblue-op text-center w-75 p-4 rounded-top mb-0">بازنشانی رمز عبور</h2>
    </div>

    <div class="container text-center w-50">

        <div class="container w-75 text-end p-5 rounded-bottom bg-light-op">

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                <br>
            {% endif %}

            <p>آدرس ایمیل خود را وارد کنید تا ایمیل بازنشانی رمزعبور برایتان ارسال شود.</p>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <input type="email" name="email" placeholder="ایمیل"
                           autocomplete="email" required="" id="id_email" class="form-control">
                </div>
                <input type="submit" value="ادامه" class="btn btn-primary w-100 m-1 rounded-pill mb-3 p-2">
            </form>
        </div>
    </div>

{% endblock %}
