{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h2 class=" container bg-lightblue-op text-center w-50 p-4 rounded-top mb-0">بازنشانی رمز عبور</h2>

    <div class="container text-center w-50 p-5 rounded-bottom bg-light-op">


        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>بهت یه رایانامه فرستادیم. اگر تا چند دقیقه‌ی دیگر دریافتش نکردی باهامون تماس بگیر.</p>

    </div>
{% endblock %}
