{% extends 'base.html' %}
{% block main %}
    <div class="container w-75">
        <h2 class="bg-lightblue  m-auto w-75 p-4 text-center">ویرایش کتاب</h2>
        <div class="bg-lightblue-op m-auto p-4 w-75">
            <div class="container w-75">
                <form method="post" accept-charset="utf-8"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <button class="col btn btn-success ml-2 m-auto" type="submit">ذخیره</button>
                        <a class="col btn btn-primary text-white" href="{% url 'book-detail' book.slug %}">
                            بازگشت
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
